@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';
    color: black;
}

body {
    background-image: url("SkyBlueCloud.png");
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profilepic {
    width: 120px;
    height: 120px;
    border: 8px double #03000b;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

span {
    font-size: 30px;
    width: auto;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 8px 8px 0px black;
    transition: 0.2s all;
}

a:hover {
    box-shadow: none;
    transform: translate(8px, 8px);
}

.insta {
    background-color: #E1306C;
    color: black;
}

.booksta {
    background-color: #8a3ab9;
    color: black;
}

.tiktok {
    background-color: #00f2ea;
    color: black;
}

.twitter {
    background-color: #1DA1F2;
    color: white;
}

.git {
    background-color: #242424;
    color: white;
}

.email {
    background-color: #f14336;
    color: black;
}

.goodreads {
    background-color: #E9E5CD;
    color: #553B08;
}

.linkedin {
    background-color: #0077b5;
    color: white;
}

.moly {
    background-color: #93bce1;
    color: black;
}