@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Andada Pro", serif;
}

::selection {
    background-color: #ff0836;
    color: white;
}

body {
    background: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#particles-js {
    background: none;
    position: fixed; /* Ensures it stays in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Keeps particles behind content */
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative; /* Change from fixed to relative */
    justify-content: center;
    align-items: center;
}

.about {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profilepic {
    width: 160px;
    height: 160px;
    border: 8px double #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

span {
    color: white;
    font-size: 30px;
    width: auto;
}

p {
    font-size: 16px;
    color: white !important;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid #ff0836;
    border-radius: 50px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.link {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    background-color: #270b3d;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    padding: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #9e91b9;
    transition: all 0.3s ease-in-out;
}

.link i {
    color: #ff0836;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    background-color: black;
    border-color: #ff0836;
    color: white;

    .fa-brands {
        color: white;
    }
}

.animate-on-scroll {
    animation: slideUp 1s ease-out forwards;
    visibility: visible;
}


@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}