@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Andada Pro", serif;
}

::selection {
    background-color: #ff0836;
    color: white;
}

body {
    background-image: url(background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profilepic {
    width: 120px;
    height: 120px;
    border: 8px double #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

span {
    color: white;
    font-size: 30px;
    width: auto;
}

p {
    font-size: 16px;
    color: white !important;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid #ff0836;
    border-radius: 50px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.link {
    background-color: #270b3d;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    padding: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #9e91b9;
}

.link i {
    color: #ff0836;
}

.link:hover {
    background-color: black;
    border-color: white;
    color: #3ff9f4;

    .fa-brands {
        color: #3ff9f4;
    }
}